/*IMPOSTAZIONI GENERALI*/

html,
body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

.backgroundImg {
  background-image: url("../images/sfondo.png");
  padding: 2rem;
}

/* HEADER  */

.titleNav {
  background-image: linear-gradient(
    0deg,
    rgba(0, 102, 136, 1) 0%,
    rgba(0, 153, 204, 1) 100%
  );
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 20px;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
}

.logo {
  width: 15.5rem;
}

.titolo {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.titolo p {
  font-size: 1rem;
  text-align: center;
  color: whitesmoke;
}

.navigation {
  padding-top: 15px;
}

.navigation a {
  text-decoration: none;
  color: whitesmoke;
}

.navigation ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 15px;
  text-align: center;
}

/* MAIN  */

.centeredBox {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(128, 105, 0);
  box-sizing: border-box;
}

.bigBox {
  background-color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 15px;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
}

.titlePost {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}

.iconBack {
  background-color: rgb(160, 155, 155);
  color: white;
  padding: 0.2rem;
}

.colorSottotitolo {
  color: rgb(160, 155, 155);
}

.pSpan {
  padding: 1.5rem 0;
}

.commonSpan {
  color: rgb(170, 32, 114);
  font-weight: bold;
}
.listaDis {
  list-style: inherit;
  padding: 1.5rem;
}

.spanBack {
  background-color: rgb(197, 192, 192);
  line-height: normal;
  border-radius: 6px;
  padding: 0.15rem;
}

.listaOrd {
  list-style: decimal;
  padding: 1.5rem;
}

.selectSpan {
  color: rgb(170, 32, 114);
  font-weight: bold;
}

/* TABELLA */

caption {
  padding: 0.8rem;
  font-style: italic;
  font-weight: bold;
}

article {
  padding: 20px 0;
}

.table,
th,
td {
  border: 1px solid rgb(104, 140, 210);
  padding: 0.5rem;
}

th {
  background-color: rgb(51, 102, 204);
}

.tdGrey {
  background-color: rgb(236, 232, 232);
}

.aTool {
  color: rgb(0, 153, 204);
  font-weight: bold;
}

/* ARTICLE */
iframe {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-top: 1rem;
}

.articlesBack {
  background-color: rgb(221, 221, 222);
}

.articleTitle {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.articleP {
  text-align: center;
  padding: 20px 0;
}

fieldset {
  padding: 20px;
}

fieldset button {
  background-color: rgb(51, 102, 204);
  color: white;
}

/* ARTICOLI */

.relatedArticles {
  text-align: center;
}

.articlesBack2 {
  background-color: rgb(221, 221, 222);
  margin-bottom: 20px;
}

.articlesBack2 a {
  color: rgb(0, 153, 204);
  font-weight: bold;
}

.startDate {
  text-align: end;
}

.relatedArticlesTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

/* FOOTER */

.footerBox {
  background: linear-gradient(
    179deg,
    rgba(0, 85, 102, 1) 0%,
    rgba(34, 68, 68, 1) 50%,
    rgba(42, 51, 56, 1) 100%
  );
  color: #ffffff;
  text-align: center;
  padding: 15px;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
}

footer p {
  padding: 1rem;
}

.emailScuola {
  color: rgb(255, 0, 254);
}
